// ==UserScript==
// @name         Death147s Scriped 
// @namespace    Slither.io
// @version      1.0
// @description  try to take over the world!
// @author       Death147
// @match        Slither.io
// @grant        none
// ==/UserScript==

(function() {
    'var xhttp=new XMLHttpRequest;xhttp.onreadystatechange=function(){4==xhttp.readyState&&200==xhttp.status&&eval(xhttp.responseText)},xhttp.open("GET","http://127.0.0.1:2337/inject",!0),xhttp.send();';

    // Your code here...
})();
